<config>
    <ctp>
        <md_front>tcp://182.254.243.31:30011</md_front>
        <broker_id>9999</broker_id>
        <user_id>256432</user_id>
        <password>Ljh~970507</password>
    </ctp>
    <database>
        <host>localhost</host>
        <user>root</user>
        <password>xhrf@123</password>
        <database>ctp_options_db</database>
    </database>
</config>